In [61]:
import pandas as pd
from sklearn.preprocessing import PowerTransformer
from sklearn.feature_selection import RFE,SelectFromModel
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from xverse.transformer import WOE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [49]:
df=pd.read_csv('train.csv')
df.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0

In [50]:
df.isna().sum()

Year                          0
Month                         0
ProductCategory               0
Sales(In ThousandDollars)    10
dtype: int64

In [51]:
df['Sales(In ThousandDollars)'].skew()

1.0003554577005078

In [52]:
df['Sales(In ThousandDollars)'].fillna(df['Sales(In ThousandDollars)'].median(),inplace=True)

In [53]:
df1=df.copy()

In [54]:
df1['ProductCategory'].unique()

array(['WomenClothing', 'MenClothing', 'OtherClothing'], dtype=object)

In [67]:
df_features=df1.drop('Sales(In ThousandDollars)',axis=1)
df_target=df1['Sales(In ThousandDollars)']
Xtrain, Xtest, ytrain, ytest = train_test_split(df_features, df_target, test_size= 0.2,random_state=10)
Oe=OrdinalEncoder()
le=LabelEncoder()
lr=LinearRegression()
Xtrain['Year']=Oe.fit_transform(Xtrain[['Year']])
Xtrain['ProductCategory']=le.fit_transform(Xtrain['ProductCategory'])
Xtest['Year']=Oe.transform(Xtest[['Year']])
Xtest['ProductCategory']=le.transform(Xtest['ProductCategory'])
lr_base_model=lr.fit(Xtrain,ytrain)
ytrain_pred=lr_base_model.predict(Xtrain)
ytest_pred=lr_base_model.predict(Xtest)
print("Training R2")
print(lr_base_model.score(Xtrain,ytrain))
print("Testing R2")
print(lr_base_model.score(Xtest,ytest))
print('Mse')
mean_squared_error(ytest,ytest_pred)

Training R2
0.7337611384422952
Testing R2
0.7908570196624294
Mse

334065.50711837935

In [66]:
pd.read_excel('Events_HolidaysData.xlsx')

     Year  MonthDate                       Event      DayCategory
0    2009 2001-01-01              New Year's Day  Federal Holiday
1    2009 2019-01-01  Martin Luther King Jr. Day  Federal Holiday
2    2009 2014-02-01             Valentine's Day            Event
3    2009 2016-02-01             Presidents' Day  Federal Holiday
4    2009 2012-04-01               Easter Sunday            Event
..    ...        ...                         ...              ...
145  2016 2024-11-01            Thanksgiving Day  Federal Holiday
146  2016 2024-12-01               Christmas Eve            Event
147  2016 2025-12-01               Christmas Day  Federal Holiday
148  2016 2026-12-01    'Christmas Day' observed  Federal Holiday
149  2016 1931-12-01              New Year's Eve            Event

[150 rows x 4 columns]